body {

    margin: 0;
}

/* header */

#pattern {

    background-image: url(../img/pattern.png);
    background-color: rgba(78,160,255,255);
    background-size: auto;
    background-position:top right;
}

header img {

    width: 340px;
    height: auto;
    margin: 80px 0 10px 10px;
}

/* main */

main {

    margin: 10px;
}

/* section title */

#title-section h1 {

    font-size: 70px;
    margin: 0;
}

#title-section h2 {

    color: grey;
    margin: 0;
}

#color-change {

    color: aqua;
}

#title-section p {

    color: grey;
    margin-top: 0;
}

/* section Tim Berners-Lee image */

#image-tim-section p {

    margin-top: 0;
}

/* section description */

#description-section {

    font-size: 24px;
}

#description-section span {

    background-color: yellow;
}

#description-section ul{

    padding-left:15px;
}

/* section table */

#table-lorem {

    font-size: 24px;
}

#table-lorem table {

    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#table-lorem th {

    color: white;
    background-color: rgba(32,169,229,255);
}

#table-lorem td {

    width: 33%;
}

tr:nth-child(odd) {

    background-color: rgba(177,229,242,255);
}

/* section description pt.2 */

#description-section-2 {

    font-size: 24px;
}

#description-section-2 span {

    background-color: yellow;
}